:root {
  --main-color: #212121;
  --secondary-color: #FFFFFF;
  --brand-color: #2196F3;
  --additional-color: #757575;
  --bg-our-team-color: #F5F4FA;
}

body {
color: var(--main-color);
font-family: Roboto, sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul
 {
  margin: 0;
  padding: 0;
}

.header-height{
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}


.header-list:not(:last-child) {
  margin-right: 50px;
}

.list-mail{
  margin-left: 301px;
  margin-right: 40px;
}

/* .header {
  width: 1600px;
  min-height: 80px;
} */



.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container-fix {
text-align-last: left;
  }

  .header-container {
display: flex;
align-items: center;
width: 1240px;
}
  /* outline: 1px solid red; */
  /* align-items: center; */
  /* text-align: center;
  align-self: center */



.header {
  width: inherit;
  border: 1px solid #ECECEC;
}

.cont-ul {
  display: flex;
  /* align-self: center; */
justify-content: flex-end;
}



.logo{

  color: inherit;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.list {
  list-style: none;
  text-decoration: none;
}

.hide-h2, .hide-h1 {
  display: none;
}

.site-nav{
  font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    align-items: center;
    display: flex;
}

.site-nav .logo {
  margin-right: 93px;
}



.order-button, .blue-web {
  background-color: var(--brand-color);
  color: var(--secondary-color);
  font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-top: 10px;
    /* padding-bottom: 200px; */
    /* border-radius: 3px; */
}

.big-text {
background-color: #2F303A;
color: var(--secondary-color);
padding-top: 200px;
padding-bottom: 200px;
/* вниз падинг, перенести "для", кнопка с падингом низ */
}

.main-header {
  width: 696px;
margin-bottom: 30px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-left: auto;
margin-right: auto;;
}

.preview-list {
  display: flex;
  justify-content: center;
  /* отступ от заголовка */

}

.preview-item {
  width: 270px;
}

.preview-item:not(:last-child) {
  margin-right: 30px;
}

.section {
padding-top: 94px;
padding-bottom: 94px;
}

.section-out{
  padding-bottom: 94px;
  padding-top: 0px;
}

.contacts-info {
  color: var(--additional-color);
  text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
}

.list-info {
  display: flex;
  justify-content: center;
  text-align: center;
}
/* 
.list-mail::before {
  content: "";
  padding-left: 10px;
 } */

 /* .list-info::before {
  content: "";
  padding-left: 10px;
 } */
/* 
 .list-phone::before {
  content: "";
  padding-left: 10px;
 } */

.mail::before {
  display: inline-block;
content: "";

}

.phone::before {
  display: inline-block;
content: "";
}

.info-svg {
 margin-right: 10px;
}


.web-logo {
  color: var(--secondary-color);
  text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-info {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
  width: inherit;
}
/* no padding, add padd to section */
.place-info{
  font-style: normal;
  color: var(--secondary-color);
text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.adress-item {
  margin-top: 20px;
  margin-bottom: 9px;
}

.mail-item {
  margin-bottom: 9px;
}


.contacts-footer{
  font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.preview {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.preview-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--additional-color);
}

.our-business {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
}

.our-business-list {
  display: flex;
  width: 1200px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  /* padding-bottom: 94px; */
}

.our-team-list {
  display: flex;
  width: 1200px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}


.our-team-bg {
  background: var(--bg-our-team-color);
  padding-bottom: 94px;
}
/* падинг вниз, всей секции */
.our-business-item:not(:last-child) {
  margin-right: 30px;
}

.name-team {
font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  width: 270px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.employee-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--additional-color);

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.description-item {
  margin-bottom: 30px;
}
/* add div to h3 and p3 */
.links:hover, .links:focus{
  color: var(--brand-color);
}

.links {
color: inherit;
text-decoration: none;
}

.title-h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  text-decoration: none;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 4px;
  text-align: left;
}

.title-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--additional-color);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    text-align: left;
}

.filter {
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-decoration: none;
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.filter-button:hover, .filter-button:focus {
  color: var(--secondary-color);
  background-color: var(--brand-color);
}

.filter-button{
  font-family: inherit;
  color: var(--main-color);
  background-color: #F5F4FA;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.63;
      letter-spacing: 0.03em;
      margin-right: auto;
      margin-left: auto;
      padding: 6px 22px;
      
}
 /* добавить див для 9 элементов, добавить для х и р див, сделать рамку
 добавить расстояние между кнопками, паддинг сделать вниз, а не вверх */

.button-list:not(:last-child) {
  margin-right: 8px;
}


.current, .blue-logo {
  color: var(--brand-color);
}

.preview-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 10px;
}

.place-info:hover, .place-info:focus,
.contacts-footer:hover, .contacts-footer.focus {
  color: var(--brand-color);
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 50px;
    text-align: center;
    /* width: 1200px;  */
    margin-right: auto;
    margin-left: auto;
}
/* урбать ширину */
.all-services {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

}

 .service-item:not(:last-child) {
margin-right: 30px;
 }

 .service-item {
  outline: 1px solid #EEEEEE;
  margin-bottom: 30px;
 }

 .action {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
 }

 .action-icon {
  fill: #AFB1B8;
  
 }

.action-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;

}

.preview-pics{
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.action-list:not(:last-child) {
  margin-right: 30px;
}

.regular-customers {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
margin-bottom: 50px;
}

.action-icon:hover, .action-icon:focus {
  fill: var(--brand-color);
}

 /* .border-card {
  border: 1px solid #EEEEEE;
 } */



/* img {
    display: block;
    max-width: 100%;
    height: auto;
}  */

/* ренеиминг
на юл оставить класс флекс
лишкам задать падинг
убрать падинг 94
делать внешние через марджин */